html {
  font-family: 'Kanit', sans-serif;
  display: flex;
  height: 100%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

body {
  flex: 1;
  margin: 16px;
  background-color: #FAFAFA;
  border-radius: 8px;
}

main {
  height: 100%;
  overflow: scroll;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.name {
  margin-bottom: 0;
}

p.about-text {
  margin-top: 0;
}

#profile {
  width: 50%;
  display: flex;
  justify-content: center;
}

.profileimage {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

#profile .about {
  padding-left: 16px;
}

.links a {
  margin-right: 32px;
  text-decoration: none;
  transition: opacity 0.4s;
}

.links a:hover {
  opacity: 0.5;
}

.links img {
  width: 32px;
}

@media (max-width: 568px) {
  #profile {
    width: 80%;
    flex-direction: column;
  }
}
